<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.schooltask">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 读取网络状态权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.AssessActivity"
            android:label="评价" />
        <activity
            android:name=".activity.ReleaseTaskActivity"
            android:label="填写任务信息" />
        <activity
            android:name=".activity.MoneyActivity"
            android:label="我的钱包" />
        <activity
            android:name=".activity.WaitAcceptOrderActivity"
            android:label="任务详情" />
        <activity
            android:name=".activity.ImageActivity"
            android:label=""
            android:theme="@style/ImageStyle" />
        <activity
            android:name=".activity.UserActivity"
            android:label="" />
        <activity
            android:name=".activity.TaskOrderActivity"
            android:label="订单详情" />
        <activity
            android:name=".activity.SetPayPwdActivity"
            android:label="设置支付密码" />
        <activity android:name=".activity.UserEditActivity" android:label="修改资料"></activity>
    </application>

</manifest>